/* CSS crunched with Crunch - http://crunchapp.net/ */
/*Color */
/*Blue*/
/*Green*/
/*Orange*/
/*Grey*/
/*Green*/
/*Radius*/
/*Font size*/
/*Button*/
/*Form */
.clear-float {
  content: "";
  display: table;
  clear: both;
}
.portlet-body {
  background: #f6f6f6;
}
.portlet-body ul.portlet-menu {
  list-style-type: none;
  margin: 0 0 10px;
}
.portlet-body ul.portlet-menu li {
  display: inline-block;
}
.portlet-body ul.portlet-menu li a {
  text-decoration: none;
  color: black;
  display: block;
  padding: 6px 12px;
}
.portlet-body ul.portlet-menu li a:hover {
  text-decoration: none;
  color: #0292d9;
}
.portlet-body ul.portlet-menu li.active a {
  color: #0292d9;
}
.w20 {
  width: auto;
}
.main-content {
  background: white;
  box-sizing: border-box;
  overflow: hidden;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
}
.main-content .nav-tabs {
  margin-left: -11px;
  margin-right: -11px;
  margin-top: -1px;
  background: #f6f6f6;
  border-bottom: 0;
}
.main-content .nav-tabs li.active {
  border-color: white;
  box-shadow: inset 0 3px rgba(0, 0, 0, 0.1);
}
.main-content .nav-tabs li a:hover {
  border-color: none;
  background: rgba(255, 255, 255, 0.1);
}
#p_p_id_56_INSTANCE_4ajemf4UNtZh_ {
  width: 960px;
  margin: auto;
  background: white;
  border: 1px solid #eee;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  overflow: hidden;
}
#p_p_id_56_INSTANCE_4ajemf4UNtZh_ .portlet-body {
  background: white;
}
.container-fluid {
  padding-left: 10px;
  padding-right: 10px;
}
.row {
  margin-left: -10px;
  margin-right: -10px;
}
@media (min-width: 1200px) {
  .row {
    margin-left: -10px !important;
    margin-right: -10px;
  }
}
@media (max-width: 767px) {
  body {
    padding-left: 0!important;
    padding-right: 0!important;
  }
  .row {
    margin-left: -10px !important;
  }
}
#chuyenCongVan {
  padding: 0;
}
#chuyenCongVan .control-group {
  padding: 5px 10px;
  margin-bottom: 0;
}
#chuyenCongVan .control-group label {
  color: #999;
  float: left;
  margin-right: 5px;
  margin-bottom: 0;
}
#chuyenCongVan .control-group .lfr-input-date {
  float: left;
}
#chuyenCongVan .control-group .lfr-input-date .input-medium {
  border-color: transparent!important;
  margin: 0;
}
#chuyenCongVan .control-group .cimarit-tags {
  border-color: transparent!important;
}
#chuyenCongVan .control-group .mini-editor {
  margin-left: -11px;
  margin-right: -11px;
  border-left: 0;
  border-right: 0;
  margin-bottom: -6px;
}
#chuyenCongVan .control-group .field-wrapper .btn {
  margin-top: 0px;
}
#chuyenCongVan .control-group:last-child {
  border-bottom: 0;
}
#chuyenCongVan .control-group:after {
  content: "";
  display: table;
  clear: both;
}
#chuyenCongVan .field-wrapper .btn {
  padding: 0 10px;
  line-height: 20px;
  margin-top: 0;
}
#chuyenCongVan .cke_chrome,
#chuyenCongVan .cke_top {
  border-color: transparent;
}
#chuyenCongVan .cke_top .cke_combo_button,
#chuyenCongVan .cke_top .cke_button {
  box-shadow: none;
  border: 0;
}
#congvan-header {
  position: relative;
  padding: 10px;
}
#congvan-header .portlet-menu {
  margin: -10px;
}
ul.dudu-list {
  list-style-type: none;
  margin: 0;
}
ul.dudu-list li {
  position: relative;
  border: 1px solid transparent;
}
ul.dudu-list li blockquote {
  margin: 0;
  padding: 3px 3px 3px 15px;
}
ul.dudu-list li blockquote p {
  font-size: 12px;
}
ul.dudu-list li footer {
  color: #999;
  font-size: 10px;
}
ul.dudu-list li footer cite {
  color: #555;
  font-size: 12px;
}
ul.dudu-list li .btn-context {
  opacity: 0;
  transition: .1s ease;
  position: absolute;
  top: 1%;
  right: 1%;
}
ul.dudu-list li .btn-context .btn {
  background: transparent;
  padding: 4px;
}
ul.dudu-list li:hover {
  background: whitesmoke;
  border-color: #e8e8e8;
}
ul.dudu-list li:hover .btn-context {
  opacity: 1;
}
ul.dudu-list li + li {
  margin-top: 5px;
}
.search-congvan-result {
  padding-top: 0;
  padding-bottom: 0;
  margin-top: -1px;
  margin-bottom: -1px;
}
.search-congvan-result .cimarit-status {
  text-align: center;
  margin: 0!important;
  background: transparent;
  border: 0;
}
.search-congvan-result .cimarit-status i {
  position: relative;
  top: 2px;
}
.search-congvan-result .cimarit-status-1 {
  color: #e5e600;
}
.search-congvan-result .cimarit-status-2 {
  color: #007aff;
}
.search-congvan-result .cimarit-status-3 {
  color: #ff2d55;
}
.search-congvan-result .cimarit-status-4 {
  color: #e69500;
}
.search-congvan-result .cimarit-status-6 {
  color: #4cd964;
}
.search-congvan-result .cimarit-status-10 {
  color: #000000;
}
.search-congvan-result .cimarit-status-11 {
  color: #34aadc;
}
/*Import component*/
.nav-list * {
  text-shadow: none!important;
}
.nav-list .nav-header {
  color: #9e9e9e;
  padding: 4px 12px;
  font-size: 100%!important;
  text-transform: none;
  font-weight: normal;
}
.nav-list li {
  border-top: 1px solid transparent;
}
.nav-list li a {
  color: black;
  padding: 4px 12px;
  display: block;
}
.nav-list li a:after {
  content: "";
  display: table;
  clear: both;
}
.nav-list li:hover a {
  box-shadow: inset 2px 0 #616161;
  background: rgba(0, 0, 0, 0.05);
}
.nav-list li:after {
  content: "";
  display: table;
  clear: both;
}
.nav-list .active a {
  color: #0292d9 !important;
  box-shadow: inset 2px 0 #0292d9 !important;
  background: transparent!important;
}
.nav-list .active:hover a {
  background: #dbf3ff !important;
}
.lfr-search-container {
  margin: 0;
}
.lfr-search-container a {
  color: black;
  text-decoration: none;
  display: block;
}
.lfr-search-container .table,
.lfr-search-container table {
  border: 0;
}
.lfr-search-container .table th,
.lfr-search-container table th,
.lfr-search-container .table td,
.lfr-search-container table td {
  border: 0;
}
.lfr-search-container .table th:first-child,
.lfr-search-container table th:first-child,
.lfr-search-container .table td:first-child,
.lfr-search-container table td:first-child {
  -webkit-border-top-left-radius: 3px;
  -moz-border-radius-topleft: 3px;
  border-top-left-radius: 3px;
  -webkit-border-bottom-left-radius: 3px;
  -moz-border-radius-bottomleft: 3px;
  border-bottom-left-radius: 3px;
}
.lfr-search-container .table th:last-child,
.lfr-search-container table th:last-child,
.lfr-search-container .table td:last-child,
.lfr-search-container table td:last-child {
  -webkit-border-top-right-radius: 3px;
  -moz-border-radius-topright: 3px;
  border-top-right-radius: 3px;
  -webkit-border-bottom-right-radius: 3px;
  -moz-border-radius-bottomright: 3px;
  border-bottom-right-radius: 3px;
}
.lfr-search-container .table a.btn,
.lfr-search-container table a.btn {
  display: inline-block;
}
.lfr-search-container .search-container-content-link a {
  color: #0292d9;
  display: inline;
}
.lfr-search-container .search-container-content-link a:hover {
  color: #0270a6;
  text-decoration: underline;
}
.taglib-page-iterator .lfr-pagination-config .lfr-pagination-delta-selector,
.taglib-page-iterator .lfr-pagination-config .lfr-pagination-page-selector {
  margin-right: 5px;
}
.taglib-page-iterator .lfr-pagination-buttons {
  padding-top: 2px;
}
.pager {
  line-height: 46px;
}
.pager li > span,
.pager li > a {
  padding: 2px 12px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
}
.table th,
table th {
  font-weight: normal;
  color: #616161 !important;
}
.table td,
table td,
.table th,
table th {
  padding: 4px;
  border-top: 1px solid transparent;
}
.table td:firs-child,
table td:firs-child,
.table th:firs-child,
table th:firs-child {
  -webkit-border-top-left-radius: 3px;
  -moz-border-radius-topleft: 3px;
  border-top-left-radius: 3px;
  -webkit-border-bottom-left-radius: 3px;
  -moz-border-radius-bottomleft: 3px;
  border-bottom-left-radius: 3px;
}
.table td:last-child,
table td:last-child,
.table th:last-child,
table th:last-child {
  -webkit-border-top-right-radius: 3px;
  -moz-border-radius-topright: 3px;
  border-top-right-radius: 3px;
  -webkit-border-bottom-right-radius: 3px;
  -moz-border-radius-bottomright: 3px;
  border-bottom-right-radius: 3px;
}
.table .btn,
table .btn {
  padding: 3px 9px;
  line-height: 1;
}
.table .cimarit-status,
table .cimarit-status {
  margin: 0 4px;
}
/* Button default*/
.btn {
  background: #f5f5f5;
  background: -webkit-linear-gradient(top, #f5f5f5, #f1f1f1);
  border-radius: 3px;
  box-shadow: none;
  text-shadow: none;
  font-size: 12px;
  padding: 2px 24px;
  border-color: rgba(0, 0, 0, 0.1);
  -webkit-transition: 0.2s ease;
  -moz-transition: 0.2s ease;
  -ms-transition: 0.2s ease;
  -o-transition: 0.2s ease;
  transition: 0.2s ease;
}
.btn .caret {
  margin: 0;
  margin-left: 8px;
  vertical-align: middle;
}
.btn-primary {
  background: -webkit-linear-gradient(top, #02a3f2, #0292d9);
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(top, #02a3f2, #0292d9);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(top, #02a3f2, #0292d9);
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(top, #02a3f2, #0292d9);
  /* Standard syntax */
}
.btn-primary:hover {
  background: -webkit-linear-gradient(top, #11affd, #02a3f2);
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(top, #11affd, #02a3f2);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(top, #11affd, #02a3f2);
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(top, #11affd, #02a3f2);
  /* Standard syntax */
}
.btn-danger:hover {
  color: white;
}
.btn-link {
  background: transparent;
  box-shadow: none;
  border: none;
}
/* Button group*/
.btn-group .btn {
  padding: 2px 12px;
  margin: 0;
}
.btn-group .btn:first-child {
  -webkit-border-top-left-radius: 3px;
  -moz-border-radius-topleft: 3px;
  border-top-left-radius: 3px;
  -webkit-border-bottom-left-radius: 3px;
  -moz-border-radius-bottomleft: 3px;
  border-bottom-left-radius: 3px;
}
.btn-group .btn:last-child {
  -webkit-border-top-right-radius: 3px;
  -moz-border-radius-topright: 3px;
  border-top-right-radius: 3px;
  -webkit-border-bottom-right-radius: 3px;
  -moz-border-radius-bottomright: 3px;
  border-bottom-right-radius: 3px;
}
.btn-group .btn > input[type="radio"],
.btn-group .btn > input[type="checkbox"] {
  position: absolute;
  opacity: 0;
}
.btn-group > .btn,
.btn-group > .dropdown-menu,
.btn-group > .popover {
  font-size: 12px;
}
.btn-group .btn.active,
.btn-group .btn:active {
  color: #4caf50;
  background: #f1f1f1;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
}
.nav-tabs {
  border-bottom: 1px solid #ddd;
}
.nav-tabs .tab a {
  padding: 7px 10px;
  color: rgba(0, 0, 0, 0.5);
  border-radius: 0;
  margin: 0;
}
.nav-tabs .tab:hover a {
  color: black;
  background: transparent;
  border-color: transparent;
}
.nav-tabs .tab.active a {
  color: #0292d9;
  box-shadow: inset 0 3px #ddd;
  border-color: white;
}
.nav-tabs .tab.active:hover a {
  color: #0270a6;
  background: white;
}
.form-horizontal .control-label {
  margin-right: 10px;
  padding-top: 0;
}
.form-horizontal .input-medium,
.form-horizontal .dudu-list {
  width: 206px;
}
.form-horizontal .control-group {
  padding-left: 170px;
  margin-bottom: 5px;
}
.form-horizontal .control-group .control-label {
  margin-left: -(10px+160px);
}
.form-horizontal .control-group input[type='file'] {
  height: 25px;
  line-height: 1;
}
.form-horizontal .control-group .cimarit-tags {
  display: inline-block;
  vertical-align: middle;
}
.form-horizontal .control-group .wrap {
  display: inline-block;
}
.form-horizontal .control-group .checkbox.inline {
  margin-left: 10px;
}
.form-horizontal .control-group .required {
  line-height: 22px;
}
.form-horizontal .file-list {
  display: inline-block;
  max-width: 440px;
  margin: 0 0 10px;
}
.form-horizontal .file-list ul {
  list-style-type: none;
  margin: 0;
}
.form-horizontal .file-list ul li {
  padding: 2px 6px;
  border-radius: 3px;
}
.form-horizontal .file-list ul li:hover {
  background: #f5f5f5;
}
.form-horizontal .file-list ul li + li {
  margin-top: 2px;
}
.form-horizontal .form-actions {
  text-align: left;
  padding-left: 160px + 10px;
}
.control-group {
  margin-bottom: 5px;
}
.form-actions {
  padding: 9px 10px 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  background: none;
  border-top-color: transparent;
  text-align: right!important;
}
@media (max-width: 767px) {
  .form-horizontal .form-actions {
    padding-left: 10px;
  }
  .form-horizontal .control-group {
    padding-left: 0;
  }
  .form-horizontal .control-group .control-label {
    text-align: left;
    margin-left: 0;
    float: none;
  }
  .form-horizontal .control-group .control-label:after {
    content: "";
    display: table;
    clear: both;
  }
  .form-horizontal .control-group .checkbox.inline {
    margin-left: 0;
  }
}
.cimarit-tags {
  background-color: white;
  border: 1px solid #ccc!important;
  min-width: 206px;
  min-height: 22px;
  box-sizing: boder-box;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
}
.cimarit-tags:focus {
  border-color: #0292d9;
  outline: 0;
  outline: thin dotted \9;
  box-shadow: none;
}
.cimarit-tags .cimarit-tag {
  background-color: #f5f5f5;
  border: 1px solid #d9d9d9;
  border-radius: 3px;
  font-size: 11px;
  padding: 0px 14px 0px 6px;
}
.cimarit-tags .cimarit-tag .icon-remove {
  transition: .1s ease;
  opacity: 0.5;
  right: 2px;
}
.cimarit-tags .cimarit-tag .icon-remove:before {
  content: "\00d7";
}
.cimarit-tags .cimarit-tag:hover .icon-remove {
  opacity: 1;
}
.cimarit-tags .cimarit-tag-field {
  height: auto;
  line-height: 16px;
  padding: 0;
}
.dudu-panel {
  margin: 0 0 10px 0;
  border: 1px solid rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  overflow: hidden;
}
.dudu-panel .dudu-panel-heading {
  padding: 10px;
  background: #f7f7f7;
}
.dudu-panel .dudu-panel-heading i {
  float: left;
  margin-right: 5px;
}
.dudu-panel .dudu-panel-heading h3 {
  margin: 0;
  font-size: 12px;
  font-weight: bold;
}
.dudu-panel .dudu-panel-heading i,
.dudu-panel .dudu-panel-heading h3 {
  color: rgba(0, 0, 0, 0.5);
}
.dudu-panel .dudu-panel-body {
  padding: 10px;
  background: white;
}
.dudu-panel .dudu-panel-body:after {
  content: "";
  display: table;
  clear: both;
}
.dudu-panel-blue .dudu-panel-heading {
  background: #D9EDF7;
  color: #31708f;
}
.dudu-panel-green .dudu-panel-heading {
  color: #3c763d;
  background-color: #dff0d8;
}
.dudu-panel-orange .dudu-panel-heading {
  color: #8a6d3b;
  background-color: #fcf8e3;
}
.file-list {
  margin: 0 10px 10px 0;
}
.file-list ul {
  list-style-type: none;
  margin-left: 0;
}
.file-list ul li a {
  display: inline-block;
  border: 1px solid transparent;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
}
.dudu-info-list {
  list-style-type: none;
  margin: -10px;
}
.dudu-info-list > li {
  padding: 5px 10px;
}
.dudu-info-list > li .label {
  width: 100px;
  background: none;
  text-shadow: none;
  font-weight: normal;
  float: left;
  margin-top: 1px;
  color: #999;
}
.dudu-info-list > li .wrap,
.dudu-info-list > li .file-list {
  margin-left: 100px;
  margin-bottom: 0;
}
.dudu-info-list > li .dudu-list {
  display: inline-block;
  vertical-align: top;
}
.text-right {
  text-align: right!important;
}
@media (max-width: 979px) {
  input[type="color"],
  input[type="date"],
  input[type="datetime"],
  input[type="datetime-local"],
  input[type="email"],
  input[type="month"],
  input[type="number"],
  input[type="password"],
  input[type="search"],
  input[type="tel"],
  input[type="text"],
  input[type="time"],
  input[type="url"],
  input[type="week"],
  select,
  textarea,
  .input-prepend .add-on,
  .navbar-search .search-query,
  .uneditable-input {
    font-size: 12px!important;
    padding: 0px 6px!important;
    line-height: 20px!important;
  }
  .btn {
    font-size: 12px!important;
    padding: 2px 24px!important;
  }
  select {
    height: 20px;
  }
}
@media (max-width: 767px) and (max-width: 979px) {
  .btn {
    padding: 2px 24px!important;
  }
  .btn + .btn {
    margin-left: 0;
  }
  .row {
    margin-left: -10px !important;
  }
}
@media (max-width: 979px) and (min-width: 768px) {
  .row {
    margin-left: -10px !important;
  }
}
@media (max-width: 767px) {
  .main-content .form-actions {
    margin-left: -10px;
    margin-right: -10px;
  }
}
.radio input[type="radio"] {
  float: none;
  margin-top: 0px;
}
.checkbox input[type="checkbox"] {
  float: none;
  margin-top: 0px;
}
html {
  height: 100%;
}
a {
  color: #0292d9;
}
body {
  width: 100%;
  font-size: 12px;
  line-height: 1.42857143;
  height: 100%;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  color: black;
  background: #f6f6f6;
}
input,
button,
select,
textarea {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 12px;
}
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
  color: inherit;
}
h1,
.h1 {
  font-size: 30px;
}
h2,
.h2 {
  font-size: 26px;
}
h3,
.h3 {
  font-size: 20px;
}
h4,
.h4 {
  font-size: 16px;
}
label,
input,
button,
select,
textarea {
  font-size: 12px;
}
select {
  width: 206px;
}
select,
input[type="file"] {
  height: 22px;
  line-height: 22px;
}
select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
  font-size: 12px;
  padding: 0px 6px;
  box-shadow: none;
  border-radius: 3px;
}
* {
  text-shadow: none;
}
textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
  border-color: #0292d9;
  outline: 0;
  outline: thin dotted \9;
  box-shadow: none;
}
.nav-pills {
  width: 100%;
}
.nav-pills .badge {
  background: rgba(0, 0, 0, 0.5);
  padding: 2px 8px 1px !important;
  margin-right: 4px;
}
.nav-pills li {
  margin: 0 5px;
}
.nav-pills li a {
  border: 0;
  line-height: 2;
  padding: 0px 24px;
  text-align: center;
  margin: 0;
  background: transparent;
  border: 1px solid transparent;
  color: #757575;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  -webkit-transition: 0.2s ease;
  -moz-transition: 0.2s ease;
  -ms-transition: 0.2s ease;
  -o-transition: 0.2s ease;
  transition: 0.2s ease;
}
.nav-pills li a:hover {
  background-color: rgba(0, 0, 0, 0.1);
  border-color: rgba(0, 0, 0, 0.1);
  color: #333;
}
.nav-pills li.active a {
  background: #ddebf2;
  color: #333;
  font-weight: bold;
}
.nav-pills li.active .badge {
  background: white;
  color: #0292d9;
  text-shadow: none;
}
.column-content,
.column-content-center {
  padding: 0 10px;
}
.page-header {
  border: 0;
  padding: 0;
}
.page-header h1 {
  font-weight: normal;
  font-size: 36px;
  margin: 0;
}
fieldset legend {
  font-size: 100%;
  line-height: 200%;
  margin-bottom: 12px;
}
.page-header {
  margin: 10px 0 6px;
  color: #0292d9;
}
.page-header h1 {
  font-size: 150%;
  line-height: 150%;
  padding: 0;
}
.input-group {
  display: inline-flex;
}
.input-group > span {
  flex: 1;
}
.input-group > span > input {
  box-sizing: border-box;
  width: 100%;
  height: 22px;
}
.input-group > span + span {
  margin-left: -1px;
}
.navbar-inner {
  background: transparent;
  box-shadow: none!important;
  border: 0;
}
.navbar-inner .user-notifications-count {
  margin: 2px 0;
}
.navbar-inner .user-notification-link {
  padding: 0 2px;
}
.navbar-inner .nav .dockbar-item > a {
  padding: 6px 12px;
}
.navbar-inner .nav-add-controls {
  position: fixed;
  top: 0;
  z-index: 350;
  background: rgba(0, 0, 0, 0.8);
  opacity: 0.2;
  transition: .2s ease;
  border-bottom-right-radius: 3px;
}
.navbar-inner .nav-add-controls:hover {
  opacity: 1;
}
.navbar-inner .nav-add-controls .user-notifications-count {
  margin: 2px 0 0;
  padding: 0 6px;
  line-height: 12px;
}
.navbar-inner .nav-add-controls li + li {
  margin-left: 5px;
}
.navbar-inner .nav-account-controls {
  margin-top: 12px;
}
.navbar-inner .nav-account-controls li.dropdown > a {
  transition: .2s ease;
  padding: 0px 12px;
  line-height: 2;
  color: #777;
}
.navbar-inner .nav-account-controls li.dropdown > a:hover {
  color: #333;
}
.navbar-inner .nav-account-controls .divider-vertical {
  display: none;
}
.portlet {
  box-shadow: 0 0 0px 1px rgba(0, 0, 0, 0.2), 0 2px 5px rgba(0, 0, 0, 0.1);
}
.portlet .portlet-topper {
  background: rgba(0, 0, 0, 0.5);
  color: white;
}
.portlet .portlet-topper .portlet-title {
  font-weight: normal;
  font-size: 18px;
  margin: 0;
}
.portlet .portlet-topper .portlet-topper-toolbar {
  font-weight: normal;
  line-height: 25px;
}
.portlet .portlet-topper .portlet-topper-toolbar .portlet-icon-back {
  font-weight: normal;
}
.portlet .portlet-content {
  padding: 0;
  background: #f7f7f7;
}
.portlet .portlet-content .portlet-content-container .portlet-body .navigation {
  margin: -10px;
}
.portlet-title {
  font-weight: normal;
  font-size: 24px;
  line-height: 36px;
}
.yui3-aclist-hidden {
  display: none;
}
.yui3-skin-sam .yui3-calendar-day {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
}
.yui3-skin-sam .yui3-calendar-day:hover {
  background: #ccc;
}
.yui3-skin-sam .yui3-calendar-day-selected {
  background: #0292d9;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  color: white;
}
.yui3-skin-sam .yui3-calendar-content {
  background: white;
  border: 0;
  padding: 0;
}
.yui3-skin-sam .yui3-calendar-content .yui3-calendar-grid th,
.yui3-skin-sam .yui3-calendar-content .yui3-calendar-grid td {
  border: 0;
}
.yui3-skin-sam .yui3-calendarnav-prevmonth span,
.yui3-skin-sam .yui3-calendarnav-nextmonth span {
  display: block;
}
.popover-content {
  padding: 4px;
}
.cke_chrome {
  border: 1px solid #ddd;
  box-shadow: none;
}
.cke_top {
  background-image: none;
  background: #f7f7f7;
  box-shadow: none;
  border-bottom: 1px solid #ddd;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5);
}
.cke_top .cke_combo_button,
.cke_top .cke_button {
  background: white;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid;
  box-shadow: none;
  text-shadow: none;
  font-size: 12px;
  line-height: 1;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
  background-image: none;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.2) rgba(0, 0, 0, 0.4);
  transition: .2s ease;
}
.cke_top .cke_combo_button:hover,
.cke_top .cke_button:hover {
  background-color: #eaeaea;
  background-image: none;
}
.cke_top .cke_combo_button:active,
.cke_top .cke_button:active {
  background: #706e70;
  box-shadow: none;
  color: white;
}
.cke_top .cke_button.cke_button_on {
  background: #B0B0B0;
  box-shadow: none;
  color: white;
}
.cke_top .cke_toolgroup {
  border: transparent;
}
.cke_top .cke_toolgroup .cke_button {
  border-radius: 0;
}
.cke_top .cke_toolgroup .cke_button:first-child {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.cke_top .cke_toolgroup .cke_button:last-child {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
.cke_top .cke_toolgroup .cke_button + .cke_button {
  margin-left: -1px;
}
.cke_bottom {
  background-image: none;
  background: #f7f7f7;
  box-shadow: none;
  border-top: 1px solid #ddd;
  display: none;
}
.nowrap-collumn {
  min-width: 60px;
  vertical-align: middle !important;
  white-space: nowrap;
  width: 0;
}
.main-content-content > .alert {
  margin: 10px;
}
.accordion-group.lfr-panel-extended .accordion-heading .accordion-toggle:after,
.accordion-group.lfr-panel-extended .accordion-heading .accordion-toggle:before {
  float: right;
  font-size: 14px;
  line-height: 1;
}
.accordion-group .accordion-heading.toggler-header-collapsed .accordion-toggle:before,
.accordion-group .accordion-heading.toggler-header-expanded .accordion-toggle:before {
  filter: alpha(opacity=50);
  opacity: .5;
}
.accordion-group .accordion-heading.toggler-header-expanded .accordion-toggle:before,
.lfr-add-panel .lfr-page-template .lfr-page-template-title.toggler-header-expanded:before {
  content: "\f13a" !important;
}
.accordion-group .accordion-heading.toggler-header-collapsed .accordion-toggle:before,
.accordion-group .accordion-heading.toggler-header-expanded .accordion-toggle:before,
.lfr-add-panel .lfr-page-template .lfr-page-template-title.toggler-header-collapsed:before,
.lfr-add-panel .lfr-page-template .lfr-page-template-title.toggler-header-expanded:before {
  content: "\f138";
  font-family: 'fontawesome-alloy';
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
}
.accordion-inner {
  padding: 10px;
}
